body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

#work {
    width: 80vw;
    height: 80vh;
    border: 2px dashed black;
    position: absolute;
    z-index: 20;
    background-color: aliceblue;
}

#controls {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

#anim {
    width: calc(80vw - 10px);
    height: calc(80vh - 50px);
    background: url('img/texture.png');
    border: 5px solid blue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#messages {
    padding: 5px;
    max-height: 40px;
    overflow-y: auto;
}


button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-height: 30px;
    max-height: 50px;
    min-width: 0;
    max-width: fit-content;
    outline: none;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button > #clearData, #start, #reload, #close{}
